layout {
	cwd "~/Desktop/NIAEFEUP/uni/packages/uni_app"
	default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }


    tab name="editor" split_direction="vertical" {
        pane command="nvim"{
				args "."
			}
    }

    tab name="flutter" split_direction="vertical" {
        pane 
        pane 
    }

    tab name="files" split_direction="horizontal" {
        pane command="ranger"
		}
}

